<ion-header class="headerBackground">
<ion-toolbar>
    <ion-title>
  <ul class="headerBackground">
    <li><a>Home</a></li>
    <li><a>How We Work</a> 
      <ul>
        <li><a>Text1</a></li>
        <li><a>Text2</a></li>
        <li><a>Text3</a></li>
        <li><a>Text4</a></li>
      </ul>
    </li> 
    <li><a>Contact Us</a></li>
    <li><a>News</a>
     <ul>
        <li><a>Text1</a></li>
        <li><a>Text2</a></li>
     </ul>
    </li>
    <li><a>Search</a></li>
    <li><a>Login/Register</a></li> 
  </ul>
</ion-title>
</ion-toolbar>
</ion-header>

<ion-content padding>
  testtest
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://beta.ionicframework.com/docs/">docs</a> will be your guide.</p>
</ion-content>
