*{
    background-color: #999999;
    font-family: Arial;
    color:white;
}
.headerBackground{
    background: url('mountain.jpg') no-repeat;
    //background-size: cover
    height: 300px;
 //   position: right;
    margin: 0px;
    padding: 0px;
    position: center;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
   // position: absolute;
   // height: 10px;
   left: 50;
   
}
ul li{
    float: left;
    width: 200px;
 // height: 500px;
    background-color: black;  
    line-height: 40px;
    text-align: center;
    opacity: 0.75;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color: white;
    display: block;
}
ul li a:hover{
    background-color: #6d6a6a;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}


